force-app/main/default/flows/RH_Login_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Logout</name>
        <label>Logout</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>something</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Logout_0_0</name>
        <label>Logout</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>something</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Contact_Values</name>
        <label>set Contact Values</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>theContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lComp.conId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>theContact.RH_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lComp.conStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>startUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lComp.variant</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>something</name>
        <label>something</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_FinishLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoginFlow_FinishLoc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Logout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lComp.conId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lComp.conStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>something</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
        <rules>
            <name>Is_Disable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lComp.conId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lComp.conStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Banned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Logout_0_0</targetReference>
            </connector>
            <label>Is Disable</label>
        </rules>
        <rules>
            <name>Is_Frozen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lComp.conId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lComp.conStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frozen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>something</targetReference>
            </connector>
            <label>Is Frozen</label>
        </rules>
    </decisions>
    <formulas>
        <name>LoginFlow_FinishLoc</name>
        <dataType>String</dataType>
        <expression>{!$Setup.RH_Settings__c.community_Link__c} +&apos;&apos;+{!startUrl}</expression>
    </formulas>
    <interviewLabel>RH Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RH Login Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUrl</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>TheUSer</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RH_ContactId__c</queriedFields>
    </recordLookups>
    <screens>
        <name>getUrl</name>
        <label>getUrl</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>set_Contact_Values</targetReference>
        </connector>
        <fields>
            <name>lComp</name>
            <extensionName>c:rh_login_flow_component</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>LoginFlow_UserId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Setup.RH_Settings__c.community_Link__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>LoginFlow_ForceLogout (type Boolean)—When this variable is set to true, the user is immediately logged out.</description>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_LoginType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notused</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>theContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>TheUSer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
